body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    background: #F8E7C9;
    color: #2d2d2d;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    background: #fff;
    box-shadow: 0 2px 8px #00000010;
}

.logo {
    height: 65px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #5E9F6D;
}

nav a.active {
    border-bottom: 2px solid #5E9F6D;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #357a46;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.product-card {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 16px;
    box-shadow: 0 4px 20px #00000015;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.price {
    font-weight: bold;
    color: #357a46;
    margin-top: 10px;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    margin-top: 40px;
}
